This is an analysis of the *San Francisco Salaries* dataset acquired from the following link at [Kaggle](https://www.kaggle.com/datasets/kaggle/sf-salaries?resource=download).

THe data is for San Francisco city employees from 2011-2014. This allows for a comparisons in one broad category: how compensation is distributed and how it changed over the four-year period. This encompases a variety of aspects.

Compensation distribution can refer to the whole government budger and within specific groups or positions. For example, looking at what portion of a position's compensation is overtime, and what portion of the whole budget goes towards IT Workers in general.

In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
con = sql.connect("Salaries.sqlite")
cur = con.cursor()

In [3]:
query = "SELECT name FROM sqlite_master WHERE type='table';"
cur.execute(query)
tables = cur.fetchall()

In [4]:
columnDict = {}

for i,table in enumerate(tables):
    query = "SELECT * FROM %s;" % table
    cur.execute(query)
    cols = list(cur.description)
    valuelist = []
    for j, col in enumerate(cols):
        collist = list(col)
        valuelist.append(collist[0])
    columnDict[table] = valuelist

columnDict

{('Salaries',): ['Id',
  'EmployeeName',
  'JobTitle',
  'BasePay',
  'OvertimePay',
  'OtherPay',
  'Benefits',
  'TotalPay',
  'TotalPayBenefits',
  'Year',
  'Notes',
  'Agency',
  'Status']}

In [5]:
query = """ SELECT DISTINCT Year from Salaries"""
cur.execute(query)
cur.fetchall()

[(2011,), (2012,), (2013,), (2014,)]

In [6]:
query = """ SELECT Year, COUNT(Year) from Salaries GROUP By Year"""
cur.execute(query)
cur.fetchall()

[(2011, 36159), (2012, 36766), (2013, 37606), (2014, 38123)]

In [7]:
query = """ SELECT DISTINCT Notes from Salaries"""
cur.execute(query)
cur.fetchall()

[('',)]

In [8]:
query = """ SELECT DISTINCT Agency from Salaries"""
cur.execute(query)
cur.fetchall()

[('San Francisco',)]

In [9]:
query = """ SELECT DISTINCT Status from Salaries"""
cur.execute(query)
cur.fetchall()

[('',), ('PT',), ('FT',)]

In [10]:
query = """ SELECT Status, COUNT(Status) from Salaries GROUP By Status"""
cur.execute(query)
cur.fetchall()

[('', 110535), ('FT', 22334), ('PT', 15785)]

In [21]:
query = """SELECT DISTINCT JobTitle from Salaries"""
cur.execute(query)
cur.fetchmany(5)

[('GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',),
 ('CAPTAIN III (POLICE DEPARTMENT)',),
 ('WIRE ROPE CABLE MAINTENANCE MECHANIC',),
 ('DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',),
 ('ASSISTANT DEPUTY CHIEF II',)]

In [22]:
query = """SELECT COUNT(DISTINCT JobTitle) from Salaries"""
cur.execute(query)
cur.fetchmany(5)

[(2159,)]

In [12]:
query = """ SELECT DISTINCT Status from Salaries"""
cur.execute(query)
cur.fetchall()

[('',), ('PT',), ('FT',)]

In [23]:
query = """ SELECT MIN(BasePay), MAX(BasePay), AVG(BasePay) from Salaries"""
cur.execute(query)
cur.fetchall()

[(-166.01, 'Not Provided', 66053.72928807836)]

In [31]:
query="Select JobTitle,BasePay from Salaries where BasePay < 0"
cur.execute(query)
cur.fetchall()

[('Junior Clerk', -166.01),
 ('Junior Clerk', -121.63),
 ('Junior Clerk', -109.22),
 ('Junior Clerk', -106.6),
 ('Junior Clerk', -101.88),
 ('Junior Clerk', -93.14),
 ('Junior Clerk', -87.38),
 ('Junior Clerk', -75.67),
 ('Junior Clerk', -59.59),
 ('Junior Clerk', -30.58),
 ('Clerk', -9.5)]

In [40]:
query="Select Count(JobTitle) from Salaries where JobTitle in ('Junior Clerk')"
cur.execute(query)
cur.fetchall()

[(596,)]

In [24]:
query = """ SELECT MIN(OvertimePay), MAX(OvertimePay), AVG(OvertimePay) from Salaries where OvertimePay Not in ('Not Provided')"""
cur.execute(query)
cur.fetchall()

[(-0.01, 'Not Provided', 5065.923568286087)]

In [33]:
query="Select JobTitle,OvertimePay from Salaries where OvertimePay < 0"
cur.execute(query)
cur.fetchall()

[('Senior Eligibility Worker', -0.01)]

In [25]:
query = """ SELECT MIN(OtherPay), MAX(OtherPay), AVG(OtherPay) from Salaries where OtherPay Not in ('Not Provided')"""
cur.execute(query)
cur.fetchall()

[(-7058.59, 'Not Provided', 3648.6691153282113)]

In [34]:
query="Select JobTitle,OtherPay from Salaries where OtherPay < 0"
cur.execute(query)
cur.fetchall()

[('IS Business Analyst-Principal', -7058.59),
 ('Custodial Supervisor', -9.6),
 ('Gardener', -46.76),
 ('Special Nurse', -50.19),
 ('Counselor, Log Cabin Ranch', -618.13)]

In [26]:
query = """ SELECT MIN(Benefits), MAX(Benefits), AVG(Benefits) from Salaries where Benefits Not in ('Not Provided')"""
cur.execute(query)
cur.fetchall()

[(-33.89, 'Not Provided', 18924.232838874163)]

In [35]:
query="Select JobTitle,Benefits from Salaries where Benefits < 0"
cur.execute(query)
cur.fetchall()

[('Police Officer 3', -2.73),
 ('Police Officer 3', -8.2),
 ('Police Officer 3', -33.89),
 ('Secretary 2', -13.8)]

In [27]:
query = """ SELECT MIN(TotalPay), MAX(TotalPay), AVG(TotalPay) from Salaries"""
cur.execute(query)
cur.fetchall()

[(-618.13, 567595.43, 74768.32197169265)]

In [28]:
query = """ SELECT MIN(TotalPayBenefits), MAX(TotalPayBenefits), AVG(TotalPayBenefits) from Salaries"""
cur.execute(query)
cur.fetchall()

[(-618.13, 567595.43, 93692.55481056681)]

With the broad strokes established, mainly what possible values there are for each

In [13]:
query = """SELECT DISTINCT JobTitle, AVG(TotalPay), AVG(TotalPayBenefits) from Salaries GROUP BY JobTitle ORDER BY TotalPayBenefits ASC"""
cur.execute(query)
cur.fetchmany(10)

[('Not provided', 0.0, 0.0),
 ('PUBLIC SAFETY COMMUNICATIONS TECHNICIAN', 149.51, 149.51),
 ('SPECIAL ASSISTANT XIV', 673.8, 673.8),
 ('BdComm Mbr, Grp2,M=$25/Mtg', 263.76612903225805, 475.0477419354839),
 ('BOARD/COMMISSION MEMBER, GROUP II', 296.51162790697674, 296.51162790697674),
 ('BOARD/COMMISSION MEMBER, GROUP III', 638.7878787878788, 638.7878787878788),
 ('BdComm Mbr, Grp3,M=$50/Mtg', 706.698275862069, 973.1060344827587),
 ('AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI', 1927.5, 1927.5),
 ('Cashier 3', 2074.6, 2074.6),
 ('BOARD/COMMISSION MEMBER, GROUP V', 1195.9044642857145, 1195.9044642857145)]

In [14]:
query = """SELECT DISTINCT JobTitle,
AVG(BasePay) / AVG(TotalPayBenefits) * 100 as BasePayPercentage,
AVG(OvertimePay) / AVG(TotalPayBenefits) * 100 as OvertimePayPercentage,
AVG(OtherPay) / AVG(TotalPayBenefits) * 100 as OtherPayPercentage,
AVG(Benefits) / AVG(TotalPayBenefits) * 100 as BenefitsPercentage
from Salaries GROUP BY JobTitle ORDER BY TotalPayBenefits ASC"""
cur.execute(query)
cur.fetchmany(5)

[('Not provided', None, None, None, None),
 ('PUBLIC SAFETY COMMUNICATIONS TECHNICIAN', 0.0, 0.0, 100.0, 0.0),
 ('SPECIAL ASSISTANT XIV', 100.0, 0.0, 0.0, 0.0),
 ('BdComm Mbr, Grp2,M=$25/Mtg',
  55.52413068160212,
  0.0,
  0.0,
  44.47586931839788),
 ('BOARD/COMMISSION MEMBER, GROUP II', 100.0, 0.0, 0.0, 0.0)]

In [15]:
query ="""SELECT JobTitle, Status, COUNT(Status) from Salaries GROUP BY JobTitle Order By JobTitle"""
cur.execute(query)
cur.fetchmany(10)

[('ACCOUNT CLERK', '', 83),
 ('ACCOUNTANT', '', 5),
 ('ACCOUNTANT INTERN', '', 48),
 ('ACPO,JuvP, Juv Prob (SFERS)', 'PT', 1),
 ('ACUPUNCTURIST', '', 1),
 ('ADMINISTRATIVE ANALYST', '', 93),
 ('ADMINISTRATIVE ANALYST II', '', 2),
 ('ADMINISTRATIVE ANALYST III', '', 2),
 ('ADMINISTRATIVE ENGINEER', '', 10),
 ('ADMINISTRATIVE SERVICES MANAGER', '', 3)]

In [18]:
query = """SELECT DISTINCT JobTitle, Status, Count(Status)
from Salaries GROUP BY JobTitle ORDER BY Status DESC, JobTitle"""
cur.execute(query)
cur.fetchmany(5)

[('ACPO,JuvP, Juv Prob (SFERS)', 'PT', 1),
 ('Cashier 3', 'PT', 1),
 ('Chief Investment Officer', 'PT', 1),
 ('Conversion', 'PT', 1),
 ('Forensic Toxicologist Supervis', 'PT', 1)]